apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

patches:
  - patch: |
      $patch: delete
      apiVersion: cert-manager.io/v1
      kind: ClusterIssuer
      metadata:
        name: letsencrypt-production
  - patch: |
      $patch: delete
      apiVersion: scheduling.k8s.io/v1
      kind: PriorityClass
      metadata:
        name: kaja-auto-update
  - patch: |
      $patch: delete
      apiVersion: v1
      kind: ServiceAccount
      metadata:
        name: kaja-auto-update
  - patch: |
      $patch: delete
      apiVersion: rbac.authorization.k8s.io/v1
      kind: Role
      metadata:
        name: kaja-auto-update
  - patch: |
      $patch: delete
      apiVersion: rbac.authorization.k8s.io/v1
      kind: RoleBinding
      metadata:
        name: kaja-auto-update
  - patch: |
      $patch: delete
      apiVersion: batch/v1
      kind: CronJob
      metadata:
        name: kaja-auto-update
  - patch: |
      apiVersion: networking.k8s.io/v1
      kind: Ingress
      metadata:
        name: ingress
        annotations:
          cert-manager.io/cluster-issuer: null
      spec:
        tls: []
  - patch: |
      - op: replace
        path: /spec/rules/0/host
        value: localhost
    target:
      kind: Ingress
      name: ingress
  - patch: |
      apiVersion: networking.k8s.io/v1
      kind: Ingress
      metadata:
        name: ingress-grpc
        annotations:
          cert-manager.io/cluster-issuer: null
      spec:
        tls: []
  - patch: |
      - op: replace
        path: /spec/rules/0/host
        value: localhost
    target:
      kind: Ingress
      name: ingress-grpc
  - patch: |
      apiVersion: v1
      kind: PersistentVolume
      metadata:
        name: workspace
      spec:
        storageClassName: manual
  - patch: |
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: workspace-claim
      spec:
        storageClassName: manual
  - patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: home-deployment
      spec:
        template:
          spec:
            containers:
            - name: home
              imagePullPolicy: Never
    target:
      kind: Deployment
      name: home-deployment
  - patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: users-deployment
      spec:
        template:
          spec:
            containers:
            - name: users
              imagePullPolicy: Never
    target:
      kind: Deployment
      name: users-deployment
  - patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: teams-deployment
      spec:
        template:
          spec:
            containers:
            - name: teams
              imagePullPolicy: Never
    target:
      kind: Deployment
      name: teams-deployment
  - patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: twirp-quirks-deployment
      spec:
        template:
          spec:
            containers:
            - name: twirp-quirks
              imagePullPolicy: Never
    target:
      kind: Deployment
      name: twirp-quirks-deployment
  - patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: grpc-quirks-deployment
      spec:
        template:
          spec:
            containers:
            - name: grpc-quirks
              imagePullPolicy: Never
    target:
      kind: Deployment
      name: grpc-quirks-deployment