openapi: 3.1.0
info:
  title: The Kaja Theatre
  version: 2.0.0
  description: |
    The programme of **The Kaja Theatre** — a fictional venue used to demo
    [kaja](https://kaja.tools).

    The whole demo is two calls:

    1. `GET /shows` — no parameters. Pick any show and copy its `id`.
    2. Pass that `id` to the seating service over gRPC as `showId`
       (`seating.Seating/GetSeatMap`) to see who is sitting where, then
       `HoldSeats` and `ConfirmSeats` to buy a pair.

    The house is busy: other customers are booking these seats while you
    read this, so calling `GetSeatMap` twice gives you two different answers.
servers:
  - url: https://theatre.kaja.tools

paths:
  /shows:
    get:
      operationId: listShows
      summary: Everything playing this week
      description: |
        The full programme, soonest first. Every show runs weekly, so this
        list never empties and every `id` in it is always bookable.
      responses:
        "200":
          description: The programme.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Show"

  /shows/{showId}:
    get:
      operationId: getShow
      summary: One show
      description: |
        Seats are not part of this API — they live in the seating gRPC
        service, which owns live seat state. Pass this show's `id` to
        `seating.Seating/GetSeatMap`.
      parameters:
        - $ref: "#/components/parameters/ShowId"
      responses:
        "200":
          description: The show.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Show"
        "404":
          $ref: "#/components/responses/NotFound"

  /shows/{showId}/poster.svg:
    get:
      operationId: getShowPoster
      summary: The show's poster image
      parameters:
        - $ref: "#/components/parameters/ShowId"
      responses:
        "200":
          description: The poster.
          content:
            image/svg+xml:
              schema:
                type: string
        "404":
          $ref: "#/components/responses/NotFound"

components:
  parameters:
    ShowId:
      name: showId
      in: path
      required: true
      schema:
        type: string
      example: neon-meridian

  responses:
    NotFound:
      description: No such show.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

  schemas:
    Show:
      type: object
      required: [id, title, genre, tagline, description, startsAt, basePriceCents, posterUrl]
      properties:
        id:
          type: string
          description: Pass this to the seating service as `showId`.
          example: neon-meridian
        title:
          type: string
          example: "Neon Meridian: World Tour"
        genre:
          type: string
          enum: [concert, play, comedy, opera]
        tagline:
          type: string
        description:
          type: string
        startsAt:
          type: string
          format: date-time
          description: Curtain-up for the next weekly performance.
        basePriceCents:
          type: integer
          description: Orchestra seat price. Balcony seats go for three quarters of it.
          example: 8500
        posterUrl:
          type: string
          format: uri

    Problem:
      description: RFC 7807 problem details.
      type: object
      required: [title, status]
      properties:
        type:
          type: string
          format: uri
          default: about:blank
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
