openapi: 3.1.0
info:
  title: The Kaja Theatre
  version: 3.0.0
  description: |
    The programme of **The Kaja Theatre** — a repertory cinema used to demo
    [kaja](https://kaja.tools). The films are real; the cinema is not.

    There is one operation, and it takes no parameters:

    1. `GET /shows` — the whole week. Pick any screening and copy its `id`.
    2. Pass that `id` to the seating service over gRPC as `showId`
       (`seating.Seating/GetSeatMap`) to see who is sitting where, then
       `BookSeats` to buy some.

    The house is busy: other customers are buying these seats while you read
    this, so calling `GetSeatMap` twice gives you two different answers.
servers:
  - url: https://theatre.kaja.tools

paths:
  /shows:
    get:
      operationId: listShows
      summary: Everything screening this week
      description: |
        The whole programme, soonest first. Every film screens weekly, so this
        list never empties and every `id` in it is always bookable.

        Seats are not part of this API — they live in the seating gRPC service,
        which owns live seat state.
      responses:
        "200":
          description: The programme.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Show"

components:
  schemas:
    Show:
      description: One weekly screening.
      type: object
      required:
        [id, title, director, year, runtimeMinutes, genre, language, synopsis, startsAt, basePriceCents]
      properties:
        id:
          type: string
          description: Pass this to the seating service as `showId`.
          example: dune-part-two
        title:
          type: string
          example: "Dune: Part Two"
        director:
          type: string
          example: Denis Villeneuve
        year:
          type: integer
          description: Year of the film's original release.
          example: 2024
        runtimeMinutes:
          type: integer
          example: 165
        genre:
          type: string
          enum: [action, animation, comedy, drama, horror, romance, sci-fi, thriller]
        language:
          type: string
          description: The language the film is screened in. Subtitled where it is not English.
          example: English
        synopsis:
          type: string
        startsAt:
          type: string
          format: date-time
          description: The next weekly screening.
        basePriceCents:
          type: integer
          description: Orchestra seat price. Balcony seats go for three quarters of it.
          example: 1800
