openapi: 3.1.0
info:
  title: The Kaja Theatre
  version: 3.1.0
  description: |
    The programme of **The Kaja Theatre** — a repertory cinema used to demo
    [kaja](https://kaja.tools). The films are real; the cinema is not.

    There is one operation, and it needs no parameters to get started:

    1. `GET /shows` — the first page of the week. Pick any screening and copy
       its `id`.
    2. Pass that `id` to the seating service over gRPC as `showId`
       (`seating.Seating/GetSeatMap`) to see who is sitting where, then
       `BookSeats` to buy some.

    The house is busy: other customers are buying these seats while you read
    this, so calling `GetSeatMap` twice gives you two different answers.
servers:
  - url: https://theatre.kaja.tools

paths:
  /shows:
    get:
      operationId: listShows
      summary: Everything screening this week
      description: |
        The programme, soonest first, a page at a time. Every film screens
        weekly, so this list never empties and every `id` in it is always
        bookable.

        The repertory runs to a bit over a thousand screenings. Call this with
        no parameters for the first hundred, then pass the `nextCursor` you got
        back as `cursor` for the next page, until `nextCursor` is `null`. Every
        page carries `total`, the size of the whole programme, so you know how
        far along you are. Send `Accept-Encoding: gzip` and a page arrives at a
        fifth of the size.

        A cursor is a position in the programme rather than a page number, so
        a screening is never skipped or repeated. It is tied to the moment the
        walk started and stops working an hour later; start again at `/shows`
        if that happens.

        Seats are not part of this API — they live in the seating gRPC service,
        which owns live seat state.
      parameters:
        - name: limit
          in: query
          required: false
          description: How many screenings to return. A hundred is both the default and the most.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
        - name: cursor
          in: query
          required: false
          description: The `nextCursor` of the page before this one. Omit for the first page.
          schema:
            type: string
      responses:
        "200":
          description: One page of the programme.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShowPage"
        "400":
          description: The `limit` is out of range, or the `cursor` is unreadable or expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    ShowPage:
      description: One page of the programme.
      type: object
      required: [shows, total, nextCursor]
      properties:
        shows:
          type: array
          items:
            $ref: "#/components/schemas/Show"
        total:
          type: integer
          description: How many screenings the whole programme holds, not just this page.
          example: 1283
        nextCursor:
          type: [string, "null"]
          description: Pass this back as `cursor` for the next page. `null` on the last page.
          example: MTc2NTAwMDAwMDoxNzY1MDM2MDAwOmR1bmUtcGFydC10d28
    Error:
      type: object
      required: [message]
      properties:
        message:
          type: string
          example: cursor has expired — start again at /shows
    Show:
      description: One weekly screening.
      type: object
      required:
        [id, title, director, year, runtimeMinutes, genre, language, synopsis, startsAt, basePriceCents]
      properties:
        id:
          type: string
          description: Pass this to the seating service as `showId`.
          example: dune-part-two
        title:
          type: string
          example: "Dune: Part Two"
        director:
          type: string
          example: Denis Villeneuve
        year:
          type: integer
          description: Year of the film's original release.
          example: 2024
        runtimeMinutes:
          type: integer
          example: 165
        genre:
          type: string
          enum: [action, animation, comedy, drama, horror, romance, sci-fi, thriller]
        language:
          type: string
          description: The language the film is screened in. Subtitled where it is not English.
          example: English
        synopsis:
          type: string
        startsAt:
          type: string
          format: date-time
          description: The next weekly screening.
        basePriceCents:
          type: integer
          description: Orchestra seat price. Balcony seats go for three quarters of it.
          example: 1800
