apiVersion: v1
kind: ServiceAccount
metadata:
  name: kaja-auto-update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: kaja-auto-update
rules:
  - apiGroups: ["apps"]
    resources: ["deployments"]
    resourceNames: ["kaja-deployment"]
    verbs: ["get", "patch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: kaja-auto-update
subjects:
  - kind: ServiceAccount
    name: kaja-auto-update
roleRef:
  kind: Role
  name: kaja-auto-update
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: kaja-auto-update
spec:
  schedule: "0 4 * * *"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: kaja-auto-update
          restartPolicy: OnFailure
          containers:
            - name: kubectl
              image: bitnami/kubectl:latest
              command:
                - kubectl
                - rollout
                - restart
                - deployment/kaja-deployment
